/Cap7_resolvidos/ex_res_11/build/
/Cap7_resolvidos/ex_res_11/dist/
/Cap7_resolvidos/ex_res_12/build/
/Cap7_resolvidos/ex_res_12/dist/
/Cap7_resolvidos/ex_res_13/build/
/Cap7_resolvidos/ex_res_13/dist/
/Cap7_resolvidos/ex_res_14/build/
/Cap7_resolvidos/ex_res_14/dist/
/Cap7_resolvidos/ex_res_15/dist/
/Cap7_resolvidos/ex_res_15/build/
/Cap7_resolvidos/ex_res_16/build/
/Cap7_resolvidos/ex_res_16/dist/
/Cap7_resolvidos/ex_res_18/build/
/Cap7_resolvidos/ex_res_18/dist/
/Cap7_resolvidos/ex_res_20/build/
/Cap7_resolvidos/ex_res_20/dist/
/Cap7_resolvidos/ex_res_21/build/
/Cap7_resolvidos/ex_res_21/dist/
/Cap7_resolvidos/EX_RES_22/dist/
/Cap7_resolvidos/EX_RES_22/build/
/Cap7_resolvidos/ex_res_23/dist/
/Cap7_resolvidos/ex_res_23/build/
/Cap7_resolvidos/ex_res_24/dist/
/Cap7_resolvidos/ex_res_24/build/
/Cap7_resolvidos/ex_res_25/dist/
/Cap7_resolvidos/ex_res_25/build/