/Cap7_resolvidos/ex_res_11/build/
/Cap7_resolvidos/ex_res_11/dist/
/Cap7_resolvidos/ex_res_12/build/
/Cap7_resolvidos/ex_res_12/dist/
/Cap7_resolvidos/ex_res_13/build/
/Cap7_resolvidos/ex_res_13/dist/
/Cap7_resolvidos/ex_res_14/build/
/Cap7_resolvidos/ex_res_14/dist/